/*** iiPython (me) Theming Changes ***/

    /** Styling **/

        /* Add hover blur and border radius to albums */
        .fs-poster-card-module-image {
            border-radius: 16px !important;
        }

        .fs-poster-card-module-image-container {
            border-radius: 8px !important;
        }

        /* Retheme the context menus */
        .fs-context-menu-module-container,
        .fs-dropdown-menu-module-menu-dropdown,
        .mantine-Popover-dropdown {
            background: var(--mantine-color-dark-9) !important;
            border: 1px solid var(--mantine-color-dark-4) !important;
            border-radius: 8px !important;

            .mantine-Menu-item {
                cursor: pointer;
            }
        }
        .fs-hover-card-module-dropdown {
            margin-left: 8px;
            background: var(--mantine-color-dark-9) !important;
            border: 1px solid var(--mantine-color-dark-4) !important;
            border-radius: 8px !important;
        }

        /* Add border radius to hovering context menu */
        .fs-context-menu-module-context-menu-button:hover,
        .fs-select-module-option:hover {
            cursor: pointer;
            border-radius: 8px;
            background-color: var(--mantine-color-dark-6);
        }

        /* Background theming for modals */
        .fs-modal-module-content {
            border: 1px solid var(--mantine-color-dark-4);
            background-color: var(--mantine-color-dark-9);

            header {
                background-color: var(--mantine-color-dark-9);
                border-bottom: 1px solid var(--mantine-color-dark-4);
                margin-bottom: 12px;

                /* Correct padding and height */
                padding-right: 12px;
                max-height: 45px !important;
                min-height: 45px !important;

                /* Correct title alignment */
                .fs-modal-module-title {
                    margin-top: 3px;
                }
            }

            /* Force a max size onto modals */
            max-height: 700px;
            max-width: 700px;

            /* Ensure any overflowing bodies are handled as well */
            .fs-modal-module-body {
                overflow-y: auto;
                max-height: 600px;
                scrollbar-width: thin;

                /* Handle sizing of buttons in modals */
                .mantine-Stack-root > div.mantine-Group-root:last-child .mantine-Button-root {
                    padding: 10px 20px;
                    height: fit-content;
                }
            }

            /* Fix background of accordions in modals */
            .fs-accordion-module-control, .fs-accordion-module-panel {
                background: var(--mantine-color-dark-6);
                border-radius: 4px;

                .mantine-Accordion-content {
                    padding: 8px;
                }
            }
            .fs-accordion-module-panel {
                margin-top: 8px;

                /* Handle input coloring */
                .fs-text-input-module-input, .mantine-Button-root {
                    background: var(--mantine-color-dark-9) !important;
                    transition: opacity .2s ease;
                }
                .mantine-Button-root:hover {
                    opacity: .6;
                }
            }

            /* Hide accordion border */
            .mantine-Accordion-item {
                border-bottom: 0px;
            }
        }

        /* Borders, everywhere for the love of god */
        .fs-left-sidebar-module-container {
            border-right: 1px solid var(--theme-colors-border);
        }
        .fs-player-bar-module-container {
            border-top: 1px solid var(--theme-colors-border);
        }

        /* Correct the appearance of the full screen corner */
        .fs-full-screen-player-module-container > .mantine-Group-root {
            padding: .5rem !important;
        }

        /* Improve contrast and look of settings */
        .mantine-Input-input {
            background: var(--mantine-color-dark-9) !important;
        }
        .fs-select-module-option[data-checked = "true"]::before {
            width: 1px;
        }

        /* Realign the carousel grid */
        .fs-feature-carousel-module-grid {
            display: flex;
        }
        .fs-feature-carousel-module-info-column {
            display: flex;
            align-items: center;

            h1 {
                max-width: 50%;
            }

            /* Margin for the year badge */
            .fs-badge-module-root {
                margin-left: 10px !important;
            }

            /* Bump up the size of the artist */
            div.mantine-Text-root {
                font-size: medium;
            }

            /* Hide genres from carousel */
            .mantine-Stack-root > .mantine-Group-root:nth-child(3) {
                display: none;
            }

            /* Attack carousel buttons */
            .mantine-Stack-root > .mantine-Group-root:last-child {
                bottom: 12px;
                position: absolute;

                /* Match the gap of the left/right buttons */
                gap: 8px;

                .mantine-UnstyledButton-root {

                    /* Standardize the general look */
                    border: 1px solid var(--theme-colors-border);
                    transition: background .2s ease-in-out;
                    opacity: 1;
                    padding: 0px 20px;
                    border-radius: 8px;

                    /* Standardize the button sizes */
                    width: fit-content;
                    min-height: 30px;
                    max-height: 30px;

                    /* Standardize the button coloring */
                    background: var(--mantine-color-dark-6);
                    &:hover {
                        background: var(--mantine-color-dark-9);
                    }

                    /* And finally, match the svg sizes */
                    svg {
                        width: 13px;
                        height: 13px;
                    }
                }
            }
        }
        .fs-feature-carousel-module-image-column {
            align-items: normal !important;
        }

        /* Fix full screen */
        .fs-full-screen-player-module-container .mantine-ActionIcon-root:hover {
            border-radius: 6px !important;
        }
        .fs-popover-module-dropdown .mantine-Input-input {
            background: var(--mantine-color-dark-6) !important;
        }

    /** Fixes **/

        /* Fix background contrast on date picker/text area objects */
        .mantine-DateTimePicker-input,
        .mantine-Textarea-input {
            background: var(--mantine-color-dark-6) !important;
            border-radius: 4px !important;
        }

        /* Fix broken labeling margins due to incorrectly structured components */
        .mantine-InputWrapper-label {
            margin-bottom: var(--theme-spacing-sm);
        }

        /* Fix switch tracking having no contrast */
        .fs-switch-module-track {
            border: none !important;  /* Looks better this way imo */
            background-color: var(--mantine-color-dark-6);
        }

        /* Fix password input in server form not having any radius */
        .fs-password-input-module-input {
            border-radius: 12px;
            background: rgba(4, 4, 9, .5) !important;
            border: none;
        }

        .mantine-PasswordInput-innerInput {
            border: 1px solid transparent;
        }

        .mantine-PasswordInput-innerInput:focus {
            border-color: color-mix(in srgb, var(--theme-colors-border), white 10%);
        }

        /* Fix cover art being pushed up */
        .fs-sidebar-module-scroll-area {
            height: 100% !important;
        }

        /* Fix aspect ratio of sidebar image */
        .fs-sidebar-module-sidebar-image {
            aspect-ratio: 1;
        }
