.root[data-variant='filled'] {
    background: var(--theme-colors-primary-filled);
}

.root[data-variant='outline'] {
    background: transparent;
}

.root[data-variant='transparent'] {
    background: transparent;
}

.root[data-variant='playerbar'] {
    padding: var(--theme-spacing-sm) var(--theme-spacing-sm);
    border-radius: 1rem
}

.root {
    padding: var(--theme-spacing-lg) var(--theme-spacing-lg);
    font-size: 12px;
    font-weight: 500;
    background: rgb(var(--theme-colors-surface-rgb) .4);
    border: none !important;
    border-radius: 1rem !important;
}
